/* For styling the rendered Markdown */
:root { 
    --custom: #54AE8C;
}

body {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

blockquote {
    padding: 0 15px;
    color: #393E46;
    border-left: 4px solid #00ADB5;  /* old #258EA8*/
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}


.table-of-contents {
	background-color:white;
	border-left: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	float:right;
	margin: -1rem -0.75rem 0.5rem 0.5rem;
	padding: 0.25rem;
	/*box-shadow:4px 2px 4px;*/
	font-size: 15px;
	line-height: 1rem;
}