/* For styling the rendered Markdown */
:root { 
    --custom: #54AE8C;
}

body {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  /*Borders - (Optional)*/
  border-left-style: solid;
  border-left-width: 10px;
  border-right-style: solid;
  border-right-width: 2px;  

  /*Color border */
  border-left-color: #46cfb0;
  border-right-color: #34bc9d;
  
}


blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}



.table-of-contents {
	background-color:white;
	border-left: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	float:right;
	margin: -1rem -0.75rem 0.5rem 0.5rem;
	padding: 0.25rem;
	/*box-shadow:4px 2px 4px;*/
	font-size: 15px;
	line-height: 1rem;
}
